.category-page {
  min-height: calc(100vh - 80px);
}

.category-header {
  background-color:#5ddecc;;
  color: white;
  text-align: center;
  padding: 60px 20px;
  margin-bottom: 40px;
}

.category-header h1 {
  font-size: 42px;
  margin-bottom: 15px;
  font-weight: bold;
}

.category-header p {
  font-size: 18px;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .category-header h1 {
    font-size: 32px;
  }
  
  .category-header p {
    font-size: 16px;
  }
}